###############################################
#
#  Configuration file for ncupgrade
#
#  adjust values to your needs and copy this
#  file to the same directory as ncupgrade
#
#  Before running the script:
#    - back up the database
#    - back up the data directory, if it resides outside Nextclouds directory
#  See README.md for backup instructions
#
###############################################


# directory of running Nextcloud installation:
nextcloud_dir="/usr/share/nginx/nextcloud"


# directory to store backups:
backup_dir="./ncupgrade_backups"


# choose how to compress backup ("tar.gz" or "zip")
compression_method="tar.gz"


# according to the documentation the webserver needs to be stopped and
# restarted when upgrading. However there might be cases where this
# is not possible due to the resulting downtime of other webservices.
# Choose "no" if you do not want to stop the webserver:
stop_webserver="yes"


# if you want to stop and start your webserver as recommended by the
# documentation, the script needs to know the servicename for your
# webserver to stop and start it with command systemctl.
# Servicename of used webserver (nginx, apache2.service, httpd.service):
webserver_service="nginx"


# user and group of webserver (www-data, apache, http, wwwrun/www)
# (see https://github.com/nextcloud/documentation/blob/master/admin_manual/configuration_server/occ_command.rst):
htuser="www-data"
htgroup="www-data"
