###############################################
#
#  Configuration file for ncupgrade
#
#  adjust values to your needs and copy this
#  file to the same directory as ncupgrade.sh
#
###############################################


# directory of running Nextcloud installation:
nextcloud_dir="/usr/share/nginx/nextcloud"


# webserver needs to be stopped and restarted with command systemctl
# Servicename of used webserver (nginx, apache2.service, httpd.service):
webserver_service="nginx"


# user and group of webserver (www-data, apache, http, wwwrun/www)
# (see https://github.com/nextcloud/documentation/blob/master/admin_manual/configuration_server/occ_command.rst):
htuser="www-data"
htgroup="www-data"
